* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(243, 244, 246);
}
.navbar {
    width: 100%;
    height: 100px;
}
.footer {
    position: fixed;
    bottom: 0;
    padding-top: 9px;
    height: 40px;
    width: 100%;
    background-color: #212529;
    color: #fff;
    text-align: center;
}
